Django
djangorestframework
django-cors-headers
django-oauth-toolkit
django-filter
pandas
python-dotenv
razorpay
twilio
firebase-admin
qrcode==7.4.2
pillow==10.0.0
channels
channels-redis
redis
phonenumbers
django-redis
whitenoise
gunicorn
psycopg2-binary
tensorflow